html {
  background-image: url(https://siterost.net/uploads/temp/837506ffd6f221e7c40c9f22461eaefd.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: Roboto, sans;
}

header {
  text-shadow: 0 1px 8px rgba(0,0,0,.2);
  position: absolute;
  top: 24px;
  left: 24px; 
}

h1 {
  font-size: 28px;
  font-weight: 300;
  line-height: 1.2;
  margin: 0;
}

h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid rgba(0,0,0,.2);
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 300;
  color: rgba(0,0,0,.7)
}
li {
    margin-left: 100px;
}

/* footer {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

a {
  font-weight: lighter;
  text-decoration: none;
  color: rgba(0,0,0,.7);
}

a:hover {
  color: #2196f3;
} */

/* h1 {
  color: red;
  font-size: 48px;
} */

iframe {
    /* margin: 10px 10px 300px 10px; */
}

img {
    /* margin: 10px 10px 300px 10px; */
}

.footer {
  color: red;
  font-size: 18px;
  margin: 1000px 10px;
}
